$product-img-size: 135px;
$spacer: 0;
$white: 'white';
$gray-300: 'gray';

@font-face {
  font-family: 'Leon';
  src: url('./fonts/leon/Leon-Regular_TRIAL.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Lithos';
  src: url('./fonts/lithos-pro/LithosPro-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.nav-icon {
  align-items: center;
  display: flex;
}

body {

  font-family: 'Leon', sans-serif !important;

  overflow-y: auto;

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, ul.product_list.list > li .button.ajax_add_to_cart_button span, .footer-container #footer h4, #columns .section-title h2, #old_price, .our_price_display .price, #new_comment_form h2, .page-subheading, .history_price .price, .cart_block .cart-buttons, .cart_block .cart-buttons a span, #pagenotfound #page > div.columns-container, #pagenotfound #page > div.columns-container p, .nav-tabs > li a, .sub-title p, .dor-megamenu .widget-content .widget-heading, .dor-megamenu .widget-content .widget-heading a, .dor-megamenu .widget-content ul li a, .cart_voucher h4, .dor-megamenu ul.navbar-nav li a, .dor-slider-desc {
    font-family: 'Lithos', sans-serif !important;
  }

  #header {
    .header-top {
      .switch {
        display: inline-block;
        margin: 0 5px;
        position: relative;
      }

      .switch > span {
        font-family: 'Helvetica', Arial, sans-serif;
        font-size: 12px;
        font-weight: bold;
        pointer-events: none;
        position: absolute;
        text-align: center;
        text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
        text-transform: uppercase;
        top: 14px;
        width: 50%;
      }

      input.check-toggle-round-flat:checked ~ .off {
        color: black;
      }

      input.check-toggle-round-flat:checked ~ .on {
        color: #FFFFFF;
      }

      #language-toggle {
        ~ .on,
        ~ .off {
          top: 0;
        }
      }

      .switch > span.on {
        color: black;
        left: 0;
        padding-left: 2px;
        top: 6px;
      }

      .switch > span.off {
        color: #FFFFFF;
        padding-right: 4px;
        right: 0;
        top: 6px;
      }

      .check-toggle {
        margin-left: -9999px;
        position: absolute;
        visibility: hidden;
      }

      .check-toggle + label {
        cursor: pointer;
        display: block;
        outline: none;
        position: relative;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
      }

      input.check-toggle-round-flat + label {
        background-color: black;
        -moz-border-radius: 60px;
        -ms-border-radius: 60px;
        -o-border-radius: 60px;
        -webkit-border-radius: 60px;
        border-radius: 60px;
        height: 35px;
        padding: 2px;
        width: 97px;
      }

      input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
        content: "";
        display: block;
        position: absolute;
      }

      input.check-toggle-round-flat + label:before {
        background-color: black;
        -moz-border-radius: 60px;
        -ms-border-radius: 60px;
        -o-border-radius: 60px;
        border-radius: 60px;

        bottom: 2px;
        left: 2px;
        right: 2px;
        top: 2px;
      }

      input.check-toggle-round-flat + label:after {
        background-color: #FFFFFF;
        -moz-border-radius: 52px;
        -ms-border-radius: 52px;
        -o-border-radius: 52px;
        -webkit-border-radius: 52px;
        border-radius: 52px;
        bottom: 4px;
        left: 4px;
        top: 4px;
        -moz-transition: margin 0.2s;
        -o-transition: margin 0.2s;
        -webkit-transition: margin 0.2s;
        transition: margin 0.2s;
        width: 48px;
      }

      input.check-toggle-round-flat:checked + label {
      }

      input.check-toggle-round-flat:checked + label:after {
        margin-left: 44px;
      }
    }
  }
}

#modal {
  &.show {
    opacity: 1;

    .modal-dialog {
      margin: 0;
      max-width: unset;
    }

    .modal-content {
      width: 100vw;
    }

    .modal-header {
      .modal-title {
        font-size: 20px;
        min-height: 30px;
      }

      .close {
        .material-icons {
          font-size: 30px;
        }
      }
    }

    .modal-body {
      height: calc(100vh - 63px);
      overflow: auto;
      padding: 0;
    }
  }

  &.fade {
    .modal-dialog {
      transform: unset;
    }

    &.hide {
      opacity: 0;
    }
  }

  &.slideLeft, &.slideUp {
    overflow: hidden;
    transition: none;

    .modal-dialog {
      transition: transform 0.4s ease-out;
    }

    &.show .modal-dialog {
      margin: 0;
      transform: none;
    }

    &.hide .modal-dialog {
      transition: transform 0.6s ease-out;
    }
  }

  &.slideLeft {
    .modal-dialog {
      transform: translate(100vh, 0);
    }

    &.hide .modal-dialog {
      transform: translate(100vh, 0);
    }
  }

  &.slideUp {
    .modal-dialog {
      transform: translate(0, 100vh);
    }

    &.hide .modal-dialog {
      transform: translate(0, 100vh);
    }
  }

  ~ .modal-backdrop {
    opacity: 0;
  }
}

.nav {
  flex-wrap: unset;
  overflow: auto;

  .nav-item {
    a {
      width: max-content;

      &:not(href) {
        color: black;

        &:hover {
          color: #636363;
        }
      }
    }
  }
}

ol, ul, dl {
  margin-bottom: 0;

  &.tab-pane {
    padding: 0;
  }
}

.receipt {
  height: 100%;

  table.orders {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    font-size: 13px;
    height: calc(100vh - 115px);
    margin: 27px 0;
    width: 100%;

    tr {
      td, th {
        height: 40px;

        &:not(:first-child) {
          border-left: 1px solid gray;
        }
      }

      &:not(.empty) {
        td, th {
          border-bottom: 1px solid gray;
        }
      }

      &.empty:last-child {
        border-bottom: 1px solid gray;
      }
    }

    tfoot th {
      &:not(:first-child) {
        border-left: 1px solid gray;
        text-align: right;
      }
    }
  }
}

.product {
  margin-bottom: $spacer;

  div {
    &.banner {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: calc(100vh / 4);
    }
  }

  img {
    &.banner {
      max-height: 200px;
      width: 100%;
    }

    &.thumbnail {
      max-height: $product-img-size;
      max-width: $product-img-size;
    }
  }

  .product-description {
    font-size: 12px;
    min-height: $product-img-size - 100px;
  }

  button {
    &.btn-block {
      bottom: 15px;
      left: 15px;
      position: absolute;
      right: 15px;
      width: calc(100% - 30px);
    }
  }
}

.btn {
  &.btn-xs {
    font-size: 0.675rem;
    padding: 0.25rem;
  }
}

.tab-content {
  min-height: calc(((#{$product-img-size} + #{$spacer}) * 4) + #{$spacer} - 24px);
  overflow-x: hidden;
  overflow-y: auto;
}

.nav-tabs {
  border-bottom: unset;

  .nav-link {
    border-bottom-width: 3px;

    &.active, &:hover {
      border-color: $white $white $gray-300;
    }
  }
}

#view {
  height: 100vh;
  overflow: auto;
}

.app-footer:not(.hide) ~ .app-body {
  padding-bottom: unset;
}
