#inicio-index {
  #dor-top-menu {
    top: 36px;
    //height: calc(100vh - 36px) !important;
  }

  .close_menu {
    font-size: 35px;
    margin-bottom: 20px;
  }
}

#view.inicio {
  overflow-x: hidden;
  overflow-y: auto;

  .tiny-slider {
    height: calc(100vh - 170px);

    img {
      //width: 600px;
    }
  }

  .tns-item {
    height: 100%;
    object-fit: cover;
  }

  #scrollText {
    text-align: center;

    h2 {
      font-family: 'Roslindale Display Condensed', sans-serif !important;
      font-size: 8vw;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 0.8px #0D0D0D;
      text-transform: uppercase;

      &:nth-child(2) {
        -webkit-text-fill-color: black;
      }

      &:nth-child(3) {
        width: 14em;
      }
    }
  }
}

@font-face {
  font-family: 'Roslindale Display Condensed';
  src: url('https://uploads-ssl.webflow.com/5ea69b4027484b2df2b45806/5ea6a1f3a5a8d28e11e3b718_RoslindaleDisplayCondensed-Regular.woff2') format('woff2'), url('https://uploads-ssl.webflow.com/5ea69b4027484b2df2b45806/5ea6a1d9808bdf61c698db90_RoslindaleDisplayCondensed-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
