html {
  body {

    button.btn.btn-success {
      //background-color: #303645;
      background-color: black;
    }

    .top-banner-info {
      background-color: black;
    }

    .menu-index-close.menu-index-close--front.switch-button {
      color: black;
    }

    .marquee {
      animation: marquee 10s linear infinite;
      font-family: Lithos, serif;
      font-weight: unset;
      left: 33em;
      letter-spacing: 0.9vw;
      position: relative;
      text-align: right;
      white-space: nowrap;
      @media (max-width: 991px) {
        animation: marquee 10s linear infinite;
      }
    }

    img {
      max-width: 100%;
      object-fit: cover;
    }

    .btn-success {
      background-color: #8DB35A;
    }

    header {
      #dor-top-menu {
        &.navbar-collapse {
          top: 35px;
        }

        #language-toggle-div {
          display: flex;
          justify-content: space-between;
          @media (min-width: 991px) {
            display: block;
          }
        }

        .project-nav {
          @media (max-width: 991px) {
            margin-bottom: 50px;
            text-align: left;
            width: 100%;
          }

          .nav-icon {
            display: none;
          }
        }
      }

      &#header #header_logo > a {
        padding: unset;
      }

      &#header.fixed .menu-group-show {
        z-index: 989;
      }

      @media (max-width: 767px) {
        &#header.fixed .dor-megamenu {
          top: 20px;
        }
      }

      @media (max-width: 530px) {
        &#header.fixed .header-top #header_logo > a {
          margin: 0;
          padding: 0;
        }
      }

      .dor-megamenu ul.navbar-nav > li > a {
        font-size: 12px;
      }

      #header_logo .logo.img-responsive {
        max-height: 90px;
        min-width: 40px;
      }

      .header-menu-item-icon {
        a {
          align-items: end;
          display: none;
          height: 100%;
        }
      }

      &#header #header_logo > button {
        display: none;
      }

      @media (max-width: 991px) {

        .logo {
          background: transparent;
        }
        #dor-top-menu.navbar-collapse ul li {
          padding: 15px;
        }
        &#header.fixed #header_logo.header-logo {
          align-items: center;
          display: flex;
          justify-content: space-between;
          //right: -20px;
          top: 10px;
        }

        &#header.fixed #header_logo > button {
          display: block;
        }

        &#header #header_logo > button {
          display: none;
        }

        &#header #header_logo {
          padding-top: 15px;
        }
      }
    }

    @media (max-width: 649px) {
      .header-top {
        margin-top: 40px;
      }
      header#header #header_logo {
        padding-top: 0px;
      }
    }

    .top-banner-info {
      z-index: 990;
    }

    #to-top {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    #view {
      height: unset;
      padding-top: 17em;
      @media (max-width: 480px) {
        padding-top: 7em;
      }

      h1.category-name {
        text-shadow: 2px 1px 1px white;
      }

      @media (max-width: 480px) {
        .dor-box-service .service-box {
          margin: 0;
        }
      }
    }

    .header-line-wapper {
      align-items: baseline;
      display: flex;
      height: 45px;
      justify-content: space-between;
      margin: auto;
    }

    @media (max-width: 991px) {
      .open_menu {
        color: black;
      }
    }

    ul.product_list.grid li.ajax_block_product .product-container {
      height: 519.984px
    }
  }

  footer {
    #footer_address {
      a.item_logo {
        img {
          max-width: 170px;
        }
      }
    }
  }
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-200%);
  }
}

@font-face {
  font-family: Mexcellent;
  src: url("../../assets/font/mexcellent 3d.otf") format("opentype");
}
